<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body>
        <h1>Today</h1>
        <%date = Date.today.strftime("%A, %B %d, %Y")%>
        <h1>The date is  <%=date%></h1>
        <% else %>
      </body>
</html>
