<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <% date_time = Date.today.strftime("%A, %B %d, %Y") %>
        <h1><%= "Today" %></h1>

        <p><%= "The date is #{date_time}" %></h1>
    </body>
</html>