<!-- It should contain an h1 with the content Today 
Using ERB tags, and the DateTime library, display today's date in a p tag. The date should be formatted to look something like this The date is Wednesday, November 18, 2015. -->

<h1>Today</h1>

<p><%= "The date is " + Date.parse('December 23 2015').strftime('%A, %B %d, %Y') + "." %>
