<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>
<body>
    <%time = DateTime.now%>
    <%= time.strftime("The date is %A, %B %e, %Y")%>
</body>
</html>