<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <% time = Time.new %>
        <p> <%= time.strftime("The date is %A, %B %d, %Y") %> </p>
    </body>
</html>