<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Today</h1>
  <% d = DateTime.now %>
  <% date = d.strftime("%A, %B %d, %Y") %>
  <%= "The date is #{date}" %>
</body>
</html>
