<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date</title>
</head>
<body>
  <p><%= "The date is #{Time.now.strftime("%A")}, #{Time.now.strftime("%B")} #{Time.now.strftime("%d")}, #{Time.now.year}" %></p>
</body>
</html>
