<!DOCTYPE html>
<html>
    <body>
      <% date = Date.today.strftime("%A, %B %d, %Y") %> #why I looked this up, ruby docs didnt help copied from spec
      <p> The date is <%= date %></p>
    </body>
</html>
