<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h2>The date is:<h2>
        <h3><%= Date.today.strftime('%A, %B %d, %G') %></h3>
    </body>
</html>
