<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% todays_date = DateTime.now %>
        <p><%= "The date is " + todays_date.strftime("%A") + ", " + todays_date.strftime("%B") + " " + todays_date.strftime("%d") + ", " + todays_date.strftime("%Y") + "." %></p>

    </body>
</html>
