<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Today</h1>
  <%d = Time.now%>
  <%date = d.strftime("%A, %B %e, %Y")%>
  <p><%="The date is #{date}"%></p>
</body>
</html>