<html>
<head>
  <meta charset="UTF-8">
  <title>Date</title>
</head>
<body>
  <h1>Today</h1>
  <% current_date = Date.today.strftime("%A, %B %d, %Y") %>
  <p>The date is</p>
  <p><%= current_date %></p>
</body>
</html>