    <!DOCTYPE html>
    <html>
        <head>
            <title>date</title>
        </head>
        <body>
<p>The date is <%= require 'date'; Date.today.strftime("%A, %B %d, %Y") %></p>
        </body>
    </html>