<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Today</h1>
    <%date = DateTime.now.to_s%>
    <%date_comp = date.split('-')%>
    <%year= date_comp[0]%>
    <%day = date_comp[2]%>
    <%month = date_comp[1]%>
    <p>The date is <%="#{date}"%>, <%="#{month}"%> <%="#{day}"%>, <%="#{year}"%></p>
  </body>
</html>
