<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% todays_date = Date.today %>
        <p><%= "The date is " + todays_date.strftime("%A, %B, %d, %Y") %></p>

    </body>
</html>
