<!DOCTYPE html>
<html>
 
 
    <head>
    <meta charset="UTF-8">
    <title>Goodbye</title> 
    <body>
    <h2>The date is:</h2>
    <p><%=Date.today.strftime("%A, %B %d, %Y")%>
    <h2>The time is:</h2>
    <p><%=Time.now%>
    </body>
    </head>
</html>