<!DOCTYPE html>
<html>
    <head>
        <title>Today</title>
    </head>
    <body>
        <h1>Today</h1>
        <% t = DateTime.now %>
        <p><%=t.strftime("The date is %A, %B %d, %Y.")%></p>
    </body>
</html>
