<!DOCTYPE html>
<html>
  <h1>Today</h1>
  <% time = Time.new %>
  <% day_week = time.strftime("%A") %>
  <% month = time.strftime("%B") %>
  <% day = time.day %>
  <% year = time.year %>
  <p><%= "The date is #{day_week}, #{month} #{day}, #{year}."%></p>
</html>