<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <% date = Date.today.strftime("%A, %B %d, %Y") %>
        <h1>Date</h1>
        <p><%= "The date is #{date}." %></p>
    </body>
</html>
