<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
    <% today = DateTime.now %>
      <h1><%= "The date is " + today.strftime('%A, %B %d, %Y') %></h1>
    </body>
</html>
