<!DOCTYPE html>
<html>
    <head>
        <h1> Today </h1>
    </head>
    <body>
        <% date = DateTime.now %>
        <p> <%= "The date is #{date.strftime('%A')}, #{date.strftime('%B %e')}, #{date.strftime('%Y')}" %>
    </body>
</html>
