<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date</title>
  <%= time=Time.new%>
</head>
<body>
  <h1> The date is <%= time.strftime("%A, %B %d, %Y") %></h1>
</body>
</html>