<DOCTYPE html>
  <html>
  <body>
    <h1>Today</h1>
    <%time = Time.new %>
    <p>The date is <%=time.strftime("%A")%>, <%=time.strftime("%B")%> <%=time.day%>, <%=time.year%></p>
  </body>
  </html>
