<h1><%= "The date is" %></h1>

# Note: This are ruby codes.. sinatra is based on them.

<h1><%= Date.today.strftime("%A, %B %d, %Y") %></h1>
# for current date & time, we use regex ish... type of expression
