<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>date</title>
  </head>
  <body>
    <h1><%="Today"%></h1>
    <p><%="The date is #{Time.now.strftime("%A")}, #{Time.now.strftime("%B")} #{Time.new.day}, #{Time.new.year}"%><p>
  </body>
</html>
