<h1>Today</h1>
<p>The date is <%= Date.today.strftime('%A, %B %d, %Y')%></p>



<!-- <p>The date is <%=Time.now.strftime("%A, %B %d, %Y")%></p> -->
    <!-- The date is Wednesday, November 18, 2015 -->
<!-- strftime method can parse Day, month, year. etc -->
<!-- Date.now does not work, but Time.now does. Date.today is better -->
