<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% time = Time.new %>
    <p>"The date is <%= time.strftime("%A, %B %d, %Y") %>"</p>

  </body>
</html>
