<!DOCTYPE htoml>
<html>
  <head>
    <title>Date</title>
  </head>
  
  <body>
    
    <h1>Today</h1>
    <% date = DateTime.now%>
    <p>The date is <%= date.strftime('%A, %B %e, %Y') %>.</p>
    
    <p>You're on the date page. Yay.</p>
    
  </body>
  
</html>