<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
      <% date = DateTime.now %>
      <% str = date.strftime( "The date is %A, %B %-d, %Y") %> 
        <h1><%=str%></h1>
    </body>
</html>