<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%t = Time.now %>
    <h1> <%= "The date is " + t.strftime("%A, %B %d, %Y") %></h1>

  </body>
</html>
