<!DOCTYPE html>
<html>
    <head>
        <title>date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% time = Date.today.strftime("%A, %B %d, %Y") %>
        <p><%= "The date is #{time}." %></p>
    </body>
</html>