<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DATE</title>
  </head>
  <body>
    <h1> Today</h1>
    <p> The date is
    <%t = Time.now%> <%=t.strftime("%A, %B %d, %Y")%>
    </p>
  </body>
</html>
