<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra View Lab 2</title>
    </head>
    <body>
        <h1> Today </h1>
          <p> <%= Date.today.strftime("The date is %A, %B %e, %Y") %> </p>
    </body>
</html>
