<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC-Views Lab 2</title>
  </head>

  <body>
    <h1>"Today"</h1>
    <h2> </h2>
    <p> "The date is"+ <%= Date.today.strftime("%A, %B %d, %Y") %> </p>
  </body>
</html>
