<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <p><%=
     current_date = Date.today.strftime("%A, %B %d, %Y")
    "The date is #{current_date}"
    %></p>

  </body>
</html>
