<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p><%="The date is " + Time.now.strftime("%A, %B %d, %Y")%></p>
    </body>
</html>