<!DOCTYPE html>

<html>
  <head>Date Page</head>
    <body>
      <% current = DateTime.now %>
      <% x = current.strftime('The date is %A, %B %d, %Y') %>
     
      <h1>Today</h1>
      <p><%= "#{x}" %></p>
      

    </body>
</html>     