<!DOCTYPE html>
<html>
  <body>
    <h1>Today</h1>
    <% date_today = Time.now %>
    <p>The date is <%= date_today.strftime("%A") %>, <%= date_today.strftime("%B") %> <%= date_today.strftime("%d") %>, <%= date_today.strftime("%Y") %> </p>

  </body>
</html>
