<!DOCTYPE html>
<html> 
  <head>
    <title>Sinatra Views Lab 2 - date</title>
  </head>
  <body>
    <%d = DateTime.now%>
    <h1>Today</h1>
    <p><%="The date is " +  d.strftime('%A, %B %d, %Y')%></p>
  </body>
</html>
