<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello</title>
</head>
<body>
  <% @d = Time.new %>
  <% @date = @d.today.strftime('%a %d %b %Y') %>
  <%=<h1>"The date is" + @date</h1><%>
</body>
</html>
  <html>
