<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <% d = DateTime.now.strftime('%A, %B %d, %Y') %>


        <p> The date is <%= d%>.</p>
    </body>

</html>
