<!DOCTYPE html>
<html>
  <head>
    <title>Date Page</title>
  </head>

  <body>
    <%date = DateTime.now%>
    <h1>The date is <%date.strftime(%A)%>, <%date.strftime(%B %d)%>, <%date.strftime(%Y)%></h1>
  </body>
</html>


<!-- https://apidock.com/ruby/DateTime/strftime -->
