<h1>Today</h1>

<% current_time = DateTime.now %>

<p>
  The date is <%=current_time.strftime("%A")%>, <%=current_time.strftime("%B")%> <%=current_time.strftime("%d")%>, <%=current_time.strftime("%Y")%>
</p>

<!-- Using ERB tags, and the DateTime library, display today's date in a p tag. The date should be formatted to look something like this The date is Wednesday, November 18, 2015 -->
