<!DOCTYPE html>
<html>
  <head>
      <title>Date</title>
  </head>
  <body>
      <% now = DateTime.now.strftime('%A, %B %-d, %Y') %>
      <p>
         The date is <%= now %>
      </p>
  </body>
</html>
