<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <% todays_date = DateTime.now.strftime("%A, %B %-d, %Y") %>
    <p><%= "The date is #{todays_date}" %></p>
  </body>
</html>