<!DOCTYPE html>
<html>
  <head>
    <title>DATE</title>
  </head>
  <body>
    <h1>Today</h1>
    <% moment = DateTime.now %>
    <p>The date is <%= moment.strftime("%A, %B %d, %Y") %>.</p>

  </body>
</html>
