<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body> 
       <h1>Today</h1>
       <p>
       <% d = Time.now %>
       <%= "The date is #{d.strftime("%A, %B %d, %Y.")}" %>
       </p>
    </body>

</html>
