<!DOCTYPE HTML>
<html>
  <head>
    <title>Sinatra Views Lab II</title>
  </head>
  <body>
    <h1>Today</h1>
    <p>
      <%d = Time.new%>
      <%=d.strftime("The date is %A, %B %d, %Y")%>
    </p>
  </body>
</html>
