<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Views Lab</title>
  </head>

  <body>
    <h1>The date is
    <% d = DateTime.now() %> 
    <%= d.strftime("%A, %B %d, %Y") %>
    </h1>
  </body>
</html>


