<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Today</h1>
<%date = DateTime.new(2018, 9, 23)%>
<p>The date is <%=date.strftime('%A')%>, <%=date.strftime('%B %e, %Y')%></p>

</body>
</html>