<!DOCTYPE html>
<html>
  <head>
    <title>Here's Da Date</title>
  </head>
  <body>
    <h1> Today </h1>
    <% current = DateTime.now %>
    <p> <%= current.strftime("The date is %A, %B %-d, %Y") %> </p>
  </body>
</html>