<!DOCTYPE html>

<html>
  <head>
    <title>Date page</title>
  </head>

  <body>
    <h1>Today</h1>
    <% date = Time.new %>
    <p><%=date.strftime("The date is %A, %B %d, %Y") %></p>
  </body>
</html>
