<!DOCTYPE htoml>
<html>
  <head>
    <title>Goodbye</title>
  </head>
  
  <body>
    <% name = "Joe" %>
    <h1>Goodbye <%= name %></h1>
    
    <p>You're on the goodby page. Bye.</p>
    
  </body>
  
</html>