<!DOCTYPE html>
<html>
    <header>   

    </header>

    <body>
        <% name = ["Joe"] %>
            <% name .each do |n|%>
            <h1><%="Goodbye #{n}"%></h1>
            <%end%>
    </body>

    <footer></footer>
</html>
