<!DOCTYPE html>
<html>
  <head>
    <title>Goodbye</title>
  </head>
  <body>
    <%joe = "Joe"%>
    <h1>Goodbye <%=joe%></h1>
    <p>
      This HTML code is inside of a '.erb' file in the views directory, where it belongs.    </p>
  </body>
</html>
