<!DOCTYPE html>
<html>
    <head>
        <title>Goodbye Page!</title>
    </head>
    <body>
        <h1> Goodbye Joe! </h1>
        <h2> Goodbye Blyat </h2>
        <p> plyat </p>
    </body>
</html>
