<!DOCTYPE html>
<html>
    <head>
      <title>Sinatra Practice</title>
      <style>
        body {background-color:#ffffff;background-image:url(https://wallpapercave.com/wp/wp1923355.jpg); background-repeat:repeat-y; background-position:top left; background-attachment:scroll; margin: 0;}
        h1 {text-align: center;font-size: 5em;color: #ffffff;text-shadow: 0 0 50px #4BC6E2;margin-bottom: 0;}
        p {text-align: center;font-family: Georgia, serif;font-size: 33px;font-style: italic;font-weight: normal;color: #ffffff;background-color: rgba(27, 23, 23, 0.92);padding: 18px;}
      </style>
    </head>
    <body>
      <% name = "Joe" %>
      <h1>Goodbye <%= name %></h1>
      <p>Sinatra Practice</p>
    </body>
</html>