<!DOCTYPE html>

<html>
  <head> 
  <title> Sinatra views lab II </title>
  </head>



 <body> 

  <%= name="Joe" %> 
 <h1><%= "Goodbye #{name}" %> </h1>
 <!-- <%= name="Joe" %> -->
</body>



</html>