<!DOCTYPE html>
<html>
  <head>
    <title>Bye</title>
  </head>
  <body>
    <h1>Goodbye Joe</h1>
  </body>
</html>

use ERB tags to create a variable name.
This variable should store the name Joe.
Then, using ERB tags, say "Goodbye Joe" in an h1 tag.
