<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
	 <% #use ERB tags to create a variable `name`. This variable should store the name `Joe`. Then, using ERB tags, say "Goodbye Joe" in an `h1` tag. %>

	 <% name = "Joe" %>
	 <h1>
	 	<%= "Goodbye #{name}" %>
	 </h1>
  </body>
</html>
