<!Doctype html>
<html>
    <head>
        <title>
            Sample Title
        </title>
        
        
        <body>
            <h1>Hello World</h1>
            
        </body>
        
    </head>
    
</html>