<!DOCTYPE html>
<html>
  <head>
      <title>My First View!</title>
  </head>
  <body>
      <h1>Views Lab</h1>
      <p>Should have routes and views setup for /hello, /goodbye, and /dates.</p>
  </body>
</html>
