<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1><a href="/hello"> Hello </a></h1>
        <h1><a href="/goodbye"> Goodbye </a></h1>
        <h1><a href="/date"> Date </a></h1>
    </body>
</html>