<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1> Sinatra Views Lab II</h1>
        <h2> get with hello, goodbye, and date</h2>
        <p> learning embedded ruby with substitution and scripting tags</p>
    </body>
</html>