<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Views Practice</title>
	<style>
		li {
			margin: 20px;
		}
	</style>
</head>
<body>

	<h1>Index.erb</h1>
	<h2>Available Views</h2>
	<ul>
		<li><a href="hello">Hello</a></li>
		<li><a href="goodbye">Goodbye</a></li>
		<li><a href="date">Date</a></li>
	</ul>
	
</body>
</html>