<!DOCTYPE html>
<html>
  <body>
    <h1>Let me tell you something...</h1>
    <ol>
      <li><a href="\hello">Hello!</a></li>
      <li><a href="\date">Get the date and time right now!</a></li>
      <li><a href="\goodbye">Goodbye :(</a></li>
    </ol>
  </body>
</html>
