<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>Please take a look at all of our great pages!</h2>
    <% pages = ["hello", "goodbye", "date"] %>
      <% pages.each do |page| %>
      <br><a href= /<%= page %> ><%="The " + page + " page"%></a>
      <% end %>
  </body>
</html>
